.lead {
  grid-area: lead;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-height: 1005px;
  padding: 56px 100px 0 100px;
  font-family: 'Inter', Arial, sans-serif;
}

@media (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0 48px;
  }
}

@media (max-width: 768px) {
  .lead {
    padding: 48px 0 0 0;
  }
}
