.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  z-index: 1;
}

@media (max-width: 700px) {
  .cover__subtitle {
    padding-top: 16px;
    font-size: 14px;
    line-height: 1.14;
 }
}
