.cover__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background: rgba(42, 44, 47, 0.3);
}

.cover__container:hover {
  background: rgba(42, 44, 47, 0.8);
}
