.cover {
  grid-area: cover;
  display: flex;
  background-image: url(../../images/cover__background.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Inter', Arial, sans-serif;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740 / 1184 * 100%);
}
